h1 {
    font-size: 50px;
    color:rgb(245, 134, 0);
    background-color: blanchedalmond;
}

h2 {
    text-decoration: underline;
}

h3 {

    letter-spacing: 0.6px;
    word-spacing: 3px;
    text-shadow: 2px 2px 2px black;

}

table{

    color:rgb(245, 134, 0);
    font-size: 25px;
}